<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col >
        <h3>Pelis nuevas</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-slideshow-backdrop [movies]="newpelis"></app-slideshow-backdrop>
    <ion-grid fixed>
      <ion-row>
        <ion-col >
          <h3>Cartelera</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
    <app-slide-show-poster [movies]="newpelis"></app-slide-show-poster>
    <ion-grid fixed>
      <ion-row>
        <ion-col >
          <h3>Populares</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
    <app-slideshow-pares [movies]="populares" (cargarMas)="cargarMas()"></app-slideshow-pares>
</ion-content>